/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100%;
  /* width: 90%; */
  height: auto;
}

.navbar-right {
  float: right;
}

.justify-content-space-between {
  justify-content: space-between;
}

.margin-right-30 {
  margin-right: 30px;
}

.margin-left-right-40 {
  margin-left: 40px;
  margin-right: 40px;
}

/* .landing-background-1 {
  background-image: url('/Users/michael/Documents/projects/wagsandwings/app/src/images/landing-background.jpg');
} */

.margin-top-40 {
  margin-top: 40px;
}

.image-center {
  margin: auto;
  display: block;
  width: 80%;
}

.text-align-center {
  text-align: center;
}

.logo-padding-top-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
}

.margin-logo {
  padding-top: 30px;
  margin-bottom: 40px;
}

#background-gradient {
  width: 100vw;
  height: 100vh;
  /* background-image: linear-gradient(to bottom right, white 30%, pink 95%); */
  background-size: cover;
}
